<h1 align='center'>Listing All Articles</h1>

<div class='center'>
  <%= link_to 'Create New Article', new_article_path, class: 'btn btn-lg btn-success'%>
</div>


<%= render 'article', obj: @articles%>