<!DOCTYPE html>
<html lang='en'>

  <body>

    <div class='text-center'>
      <h1 class='display-1'>Create an Article</h1>
    </div>

    <%= render 'form'%>
  </body>
</html>



<%# tags for ruby code %>
